@model HospitalManagementSystem.Models.Billing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultationFee)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabFee)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineFee)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherCharges)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
